// meteo-widget.page.scss

.small-back-button {
  font-size: 1px;
  padding: 1px;
  margin: 1px;
  width: 1px;
  height: 1px;
  color: aqua;
}


.searchh{

  width: 80%;
  background: rgba(150, 149, 149, 0.24);
  font-family: 'poppins';
  font-size: 16px;
  line-height: 2.2;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 46px;
  padding: 0 30px 0 10px;
  justify-content: center;
  text-align: center;
}

.btn{
  font-family: 'poppins';
}
