<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font"> Simple TP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center custom-font"
          >Calculs</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-input class="input" type="number" [(ngModel)]="op1" />
        <br />
        <ion-input class="input" type="number" [(ngModel)]="op2" />
        <br />
        <ion-button ng (click)="addition()"> + </ion-button>&nbsp;
        <ion-button ng (click)="soustraction()"> - </ion-button>&nbsp;
        <ion-button ng (click)="multiplication()"> × </ion-button>&nbsp;
        <ion-button ng (click)="division()"> / </ion-button>&nbsp;
        <br />
        <br />
        <ion-label class="input">= {{rslt}}</ion-label><br />

        <br />
        <ion-button class="btn" (click)="goToMw()">Go to weatherch</ion-button
        ><br />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
